body {
    text-align:center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-bottom: 100px;
    padding-top: 200px;
    background-size: cover;
    background-image: url("galaxy.jpg");

}

form{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 750px;
    padding-right: 20px;
    padding-top: 150px;
    padding-bottom: 10px;

}

fieldset{
    text-align: center;
    color: rgb(253, 0, 0);
    font-size: 20px;
    padding-left: 550px;
    padding-right: 20px;
    padding-top: 150px;
    padding-bottom: 10px;
}